@import url("https://fonts.googleapis.com/css?family=Mali");

* {
  font-family: "Mali";
}

#chart {
  max-width: 650px;
  margin: 35px auto;
}

.rightchart {
  top: 50%;
  left: 70%;
  transform: translate(-50%, -70%);
}

.chchart {
  width: 1080px;
  height: 500px;
}

.logo {
  vertical-align: bottom;
  margin-bottom: 24px;
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 50px;
  height: 50px;
  border-radius: 50%;
  border: rgb(149, 195, 233) 1px solid;
}

.whitess {
  color: #fff !important;
}

.leftside {
  text-align: left;
}

.rightside {
  text-align: right !important;
}

.change {
  margin-bottom: 0px;
}

.inlinder {
  display: inline;
}

.leftstyle {
  margin-bottom: 40px;
  font-size: 18px;
  margin-left: 5%
}

.rightstyle {
  margin-bottom: 40px;
  text-align: right;
  margin-right: 5%;
}

.mainidea {
  font-size: 20px !important;
  font-weight: bold;
}

.rightsidebegin {
  text-align: right !important;
  margin-left: 20% !important;
}

.notiset {
  top: 5%;
}

#alertza {
  width: 350px !important;
}

.powrLoaded {
  width: 500px !important;
  height: 500px !important;
  margin-bottom: 300px;
}

.setheightcontact {
  height: 800px !important;
}

.amcharts-range-selector-top input,
.amcharts-range-selector-bottom input {
  max-width: 145px !important;
}