.left {
  top: 50%;
  left: 80%;
  transform: translate(50%, 50%);
}

.logo {
  vertical-align: bottom;
  margin-bottom: 24px;
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 50px;
  height: 50px;
  border-radius: 50%;
  border: rgb(149, 195, 233) 1px solid;
}

.white {
  color: #fff !important;
  background-color: #000 !important;
  border-color: #656565 !important;
}

.scroll {
  width: 180px;
  display: inline-block;
  align-items: center;
}

#turnlefttop {
  width: 200px;
}

#tokensselect {
  width: 200px !important;
}

.maxheighter {
  height: 40;
  max-height: 80px;
}

.maxheighest {
  height: 250px;
}

.backgroundset {
  background-color: #30303d !important;
}

.first1ch {
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 25px;
  height: 26px;
  border-radius: 50%;
  border: rgb(149, 195, 233) 1px solid;
}



.logofirst {
  vertical-align: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: rgb(149, 195, 233) 1px solid;
}

.setselectores {
  max-height: 50px;
}

.exportset {
  width: 100px !important;
  max-width: 120px !important;
}

.amcharts-range-selector-period-button {
  background-color: #fff !important;
  background-size: 100% 100% !important;
  width: 40px !important;
  align-items: center !important;
}